#button {
    cursor: pointer;
    max-width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alert {
    text-align: center;
    font-size: 35px;
}

.catflower {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;
    margin-top: 20px;
    visibility: hidden;
}

#checkbox1, #checkbox2, #replyButton, label {
    visibility: hidden;
}

#yes, #no {
    font-size: 12px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    width: 30px;
    height: 10px;
    visibility: hidden;
}